:host {
  display: inline-block;
  border: 0;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
}

.paper-shadow-bottom {
  border-radius: 3px;
}

:host(:focus) {
  background: #ddd;
}

:host([disabled]) {
  background: #ddd !important;
  color: #999 !important;
}

#clip {
  position: relative;
  padding: 0.5em 1em;
  border-radius: 3px;
  overflow: hidden;
}

#ink {
  position: absolute;
  pointer-events: none;
  width: 100%;
}

#clip > div {
  /* needed to position the ink behind the content */
  position: relative;
}