:host {
  position: relative;
  border: 0;
  padding: 0.5em 1em;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  border-radius: 3px;
}

:host(:focus) {
  background: #ddd;
}

:host([disabled]) {
  background: #ddd !important;
  color: #999 !important;
}

:host(.paper) {
  transition: box-shadow 0.28s ease-in;
  -webkit-transition: box-shadow 0.28s ease-in;
}

:host(.paper:focus) {
  box-shadow: 0px 2px 5px #999;
}

:host(.paper[pressed]) {
  box-shadow: 0px 5px 10px #999;
}

#ink {
  position: absolute;
  pointer-events: none;
  width: 100%;
}

:host > div {
  position: relative;
}